.metadata/
.recommenders/
ProjectItinerary/.settings/org.eclipse.jdt.core.prefs
.classpath
ProjectItinerary/src/itinerary/main/lib/lucene-5.0.0
ProjectItinerary/bin
ProjectItinerary/mytestfile.txt
ProjectItinerary/mytestfile2.txt
ProjectItinerary/src/itinerary/main/lib/lucene-5.0.0.zip
ProjectItinerary/test
ProjectItinerary/testfile
ProjectItinerary/default
