.metadata/
.recommenders/
ProjectItinerary/.settings/org.eclipse.jdt.core.prefs
.classpath
ProjectItinerary/src/itinerary/main/lib/lucene-5.0.0
ProjectItinerary/bin
ProjectItinerary/mytestfile.txt
ProjectItinerary/mytestfile2.txt
ProjectItinerary/src/itinerary/main/lib/lucene-5.0.0.zip
ProjectItinerary/test
ProjectItinerary/testfile
ProjectItinerary/default
ProjectItinerary/ITnerary_log.txt
ProjectItinerary/ITnerary_log.txt.1
ProjectItinerary/ITnerary_log.txt.1.lck
ProjectItinerary/ITnerary_log.txt.2
ProjectItinerary/ITnerary_log.txt.2.lck
ProjectItinerary/ITnerary_log.txt.lck
ProjectItinerary/ProjectItineraryJPEG.ucls
ProjectItinerary/ProjectItineraryOverview.jpeg
ProjectItinerary/testFile.txt
ProjectItinerary/temp.txt
ProjectItinerary/logictest.txt
ProjectItinerary/ITnerary_log.txt.3
ProjectItinerary/ITneraryLog.log.1
ProjectItinerary/ITneraryLog.log.1.lck
ProjectItinerary/ITneraryLog.log.2
ProjectItinerary/ITneraryLog.log.3
ProjectItinerary/ITneraryLog.log.lck
